<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <a href="/form">
        <button class="button4">ADD NEW EMPLOYEE</button>
      </a> 
    <% if( responseArray.length> 0){ %>
        <% responseArray.forEach((results)=>{ %>
            
                <div class="main-container">
                    <div class="card">
                    <div class="employee-details">
                        
                    <img class="profile" src='<%=results.image%>' alt="profile">
                      
                       
                        <div class="container">
                            <h4><p><%=results.name%></p></h4>
                            <p><%=results.idNumber%></p>
                            <p><%=results.email%></p>
                            <p><%=results.employeePosition%></p>
                            <p><%=results.phoneNumber%></p>
                        </div>
                    </div>
                </div>
            </div>
            <% }) %>
        <% }else{ %>

            <h2>No employees yet !</h2>
      <%  } %>


</body>

</html>